html,
body {
    margin: 0;
    min-width: 800px;
    min-height: 100%;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.wrapper {
    padding-top: 30vh;
    width: 220px;
    margin: auto;
}

.info {
    position: fixed;
    top: 20px;
    left: 20px;
}

pre {
    margin: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.textwow {
    cursor: pointer;
    position: absolute;
    font-size: 33px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.print {
    position: fixed;
    top: 20px;
    right: 20px;
}

.sitter {
    position: fixed;
    bottom: 15px;
    font-family: monospace;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.watch {
    background: rgba(0, 0, 0, 0.07);
    padding: 10px 15px;
    border-radius: 22px;
    display: inline-block;
    margin-right: 5px;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}

.twitch {
    color: #6441a5;
}

.yt {
    color: #c4302b;
}

.info span {
    font-weight: bold;
}

.largewow {
    position: absolute;
    font-size: 240px;
    transform: translateX(-50%);
    z-index: -2;
    -webkit-text-stroke: 4px white;
}

.rainbow {
    color: hotpink;
    animation: rainbow 1500ms ease infinite;
}

.hidden {
    display: none;
}

.secretwow {
    display: inline-block;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
}

.secretwow.found {
    font-weight: bold;
}

.print {
    cursor: pointer;
}

.hatted {
    display: none;
}

.spinLeft {
    animation: spinLeft 700ms forwards infinite;
}

.spinRight {
    animation: spinRight 700ms forwards infinite;
}

.watch pre {
    display: inline;
    text-transform: none;
}

.how {
    width: 33px;
    height: 33px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    background-size: 20px 20px;
    background-position: center;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 700px) {
    .sitter {
        display: none;
    }
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes spinLeft {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinRight {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media print {
    .print,
    .sitter {
        display: none;
    }

    .info {
        position: absolute;
    }
}
